<div class="overview-area">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="overview-content-wrap card-box-style">
          <div class="row">
            <% if @courses.present? %>
              <% @courses.each do |course| %>
                <div class="col-lg-3 col-sm-6">
                  <div class="card mb-4">
                    <%= image_tag(course.photo, class: 'card-img-top') %>
                    <div class="card-body">
                      <h5 class="card-title"><%= course.name %></h5>
                      <hr/>
                      <%= render partial: 'shared/info_course', locals: { course: course } %>
                      <div class="col-md-12 text-center">
                        <% if course.can_subscribe? %>
                          <%= link_to t('actions.subscription'), new_course_subscription_path(course), class: 'btn btn-primary' %>
                        <% else %>
                          <%= link_to t('words.cannot_subscribe'), '#0', class: 'btn btn-secondary', disabled: true %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <h5><%= t("words.records_not_found") %></h5>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>