<div class="account-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="account-content">
          <div class="account-header">
            <%= link_to root_path do %>
              <%= image_tag('main-logo.svg', alt: "main-logo") %>
            <% end %>
            <h3><%= t('.sign_up') %></h3>
          </div>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "account-wrap" }, data: { turbo: false }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group mb-24 icon">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
              <%= image_tag('icon/sms.svg', alt: "sms") %>
            </div>
            <div class="form-group mb-24 icon">
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Senha" %>
              <%= image_tag('icon/key.svg', alt: "key") %>
              <% if @minimum_password_length %>
                <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
              <% end %><br />
            </div>
            <div class="form-group mb-24 icon">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirme sua senha " %>
              <%= image_tag('icon/key.svg', alt: "key") %>
            </div>

            <div class="form-group mb-24 text-center">
              <%= f.submit t('.sign_up'), class: "default-btn" %>
              <div class="clearfix"></div>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
