<div class="header-area">
  <div class="container-fluid">
    <div class="header-content-wrapper">
      <div class="header-content d-flex justify-content-between align-items-center">
        <div class="header-left-content d-flex">
          <div class="responsive-burger-menu d-block d-lg-none">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
          </div>

          <div class="main-logo">
            <%= link_to root_path do %>
              <%= image_tag('main-logo.png', alt: 'main-logo', class: 'custom-size-logo') %>
            <% end %>
          </div>

          <%= search_form_for @courses_header_search, url: root_path, class: 'search-bar d-flex' do |f| %>
            <%= image_tag("icon/search-normal.svg", alt: 'search-normal') %>
            <%= f.search_field :name_cont, class: 'form-control' %>
          <% end %>
        </div>

        <div class="header-right-content d-flex align-items-center">
          <div class="header-right-option dropdown apps-option">
            <button class="dropdown-item dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag("icon/app.svg", alt: "app") %>
            </button>

            <div class="dropdown-menu">
              <div class="dropdown-header d-flex justify-content-between align-items-center bg-linear">
                <span class="title d-inline-block">Meus cursos</span>
                <span class="edit-btn d-inline-block">Buscar novos cursos</span>
              </div>

              <div class="dropdown-wrap" data-simplebar>
                <div class="d-flex flex-wrap align-items-center">
                  <a href="#" class="dropdown-item">
                    <%= image_tag("apps/icon-account.png", alt: "icon-account") %>
                    <span class="d-block mb-0">Account</span>
                  </a>
                </div>
              </div>

              <div class="dropdown-footer">
                <a href="#" class="dropdown-item">Ver todos</a>
              </div>
            </div>
          </div>

          <div class="header-right-option dropdown profile-nav-item pt-0 pb-0">
            <a class="dropdown-item dropdown-toggle avatar d-flex align-items-center" href="#" id="navbarDropdown-4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="d-none d-lg-block d-md-block">
                <h3><%= current_user.person_name %></h3>
                <span><%= current_user.profile.text %></span>
              </div>
            </a>

            <div class="dropdown-menu">
              <div class="dropdown-header d-flex flex-column align-items-center">
                <div class="info text-center">
                  <span class="name"><%= current_user.person_name %></span>
                  <p class="mb-3 email">
                    <%= current_user.email %>
                  </p>
                </div>
              </div>

              <div class="dropdown-footer">
                <ul class="profile-nav">
                  <li class="nav-item">
                    <%= link_to destroy_user_session_path, class: 'nav-link', data: { turbo_method: :delete } do %>
                      <i class="ri-login-circle-line"></i>
                      <span><%= t("devise.sessions.logout") %></span>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>