<div class="panels-area">
  <div class="container-fluid">
    <div class="card-box-style">
      <div class="others-title">
        <div class="page-title-area">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-lg-6 col-sm-6">
                <div class="page-title">
                  <h3><%= @course.name %></h3>
                  <hr/>
                  <%= render partial: 'shared/info_course', locals: { course: @course } %>
                </div>
              </div>

              <div class="col-lg-6 col-sm-6">
                <ul class="page-title-list">
                  <li><%= link_to 'Dashboard', root_path %></li>
                  <li><%= link_to t('models.course.other'), root_path %></li>
                  <li><%= @course.name %></li>
                  <li><%= t('actions.subscription') %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= form_for([@course, @subscription], data: { turbo: false }) do |f| %>
        <div class="form-layouts-area">
          <div class="container-fluid">
            <div class="card-box-style">
              <%= render "devise/shared/error_messages", resource: @subscription %>
              <div class="pb-24">
                <div class="mb-3">
                  <%= f.label :form_of_payment, class: 'form-label' %>
                  <%= f.select :form_of_payment, Subscription.form_of_payment.options, {}, { class: 'form-control'}  %>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <%= f.submit t('actions.subscription'), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>