<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Plataforma EAD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="body-bg-f8faff">
    <%= render 'shared/preloader' %>
    <%= render 'shared/flashes' %>
    <% if user_signed_in? %>
      <div class="all-section-area">
        <%= render 'shared/header' %>
        <%= render 'shared/sidebar_menu' %>
        <main class="main-content-wrap">
          <%= yield %>
        </main>
        <%= render 'shared/footer' %>
      </div>
      <%= render 'shared/go_top' %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>